/*footer layout*/
footer {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50px;
  color: #000000;
}

/*image layout*/
img {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

/*paragraph layout*/
p {
  padding-left: 5px;
  padding-right: 5px;
}

/*heading layout*/
h1 {
  padding-left: 5px;
}

/*topnav layout*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

/*top nav spacers*/
li {
  float: left;
  color: #00ffff;
  border-right: 1px solid #00ffff;
}

/*stop spacer*/
li:last_child {
  border-right: none;
}

/*top nav content layout*/
li a, .battledropdown {
  display: inline-block;
  color: #00ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a, .burialdropdown {
  display: inline-block;
  color: #00ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*-----------------------------------------------------------------------------*/
/* change color when you hover over toolbar */
li a:hover, .AncientBurialdropdown:hover .burialdropdown {
  background-color: #003333;
}


li a:hover, .AncientBattledropdown:hover .battledropdown {
  background-color: #003333;
}

/*-----------------------------------------------------------------------------*/
/*display drop down menus*/
li.AncientBurialdropdown {
  display: inline-block;
}

li.AncientBattledropdown{
  display: inline-block;
}

/*-----------------------------------------------------------------------------*/
/*format drop down content*/
.battledropdown-content{
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.burialdropdown-content{
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/*-----------------------------------------------------------------------------*/
/*format drop down menu options*/
.battledropdown-content a{
  color: #00ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.burialdropdown-content a{
  color: #00ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/*-----------------------------------------------------------------------------*/
/*change colour when you hover over the drop down menu*/
.burialdropdown-content a:hover{
  background-color: #003333;
}

.battledropdown-content a:hover{
  background-color: #003333;
}
/*-----------------------------------------------------------------------------*/
/*display menu when you hover over the drop down menu*/
.AncientBurialdropdown:hover .burialdropdown-content{
  display:block;
}

.AncientBattledropdown:hover .battledropdown-content{
  display:block;
}

/*-----------------------------------------------------------------------------*/
/*active links are blue*/
.active {
  background-color: #00ffff;
}
