#titleblock {
	position:fixed;
	top:0;
	left:10;
	z-index:0;
}

#title{
	font-family:"Arial Black", Gadget, sans-serif;
	color:#42C0FB;
	text-shadow: 0 0 0.5em #ffffff,0 0 0.5em #ffffff;
}

#input[type=text] {
    width: 130px;
    transition: width 0.4s ease-in-out;
}

#input[type=text]:focus {
    width: 100%;
}

#mapid{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
}

#menuToggle{

	display:block;
	position:fixed;
	top:20px;
	right:20px;

	z-index:1;

}

#button{
	display:block;
	width:33px;
	height:28px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:0;
	z-index:2;

}

#menuToggle span{
	display:block;
	width:33px;
	height:4px;
	margin-bottom:5px;
	position:relative;

	background:#a4dded;
	border-radius:3px;

	z-index:1;
	transform-origin: 4px 0px;

	transition: transform 2s cubic-bezier(0.77,0.2,0.05,1.0),
              background 2s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 2s ease;

}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #b22222;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(1, 0.1);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#mapid { height: 1000px; }
